@import "../../assets/stylesheet/style.scss";

.header {
    @include print-styles($top-title);
    margin-top: 50px;
    background: #2980b9;
    border: 1px solid #ddd;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 17px;
}